<style>
div.longexample {border-color:black; border-width:1px; border-style:solid; padding-top:3pt; padding-bottom:3pt; padding-left:8pt; background-color:#EEEEEE }

td { vertical-align:top; padding-bottom:10pt; padding-left:10pt} 
td.spacer {max-width:2pt; background-color:black}
pre {padding-left:10pt}

dl.list {border: 1pt solid black }
dt {font-weight:bold; padding-left:8pt; padding-bottom:2pt}
dd {margin-left:15pt; padding-bottom:5pt}

span.method {font-weight:bold; font-family:Courier}
span.parameter {font-style:italic; font-family:Courier}
span.literal {font-family:Courier}
span.directory {font-style:italic}
span.program {font-family:Monaco,Lucida}

br {padding-bottom:5pt}

code { border-width:1px; border-color:gray; border-style:solid; background-color:#EEEEEE }
</style>